# SSV network
NETWORK=mainnet

# Beacon API endpoint of the consensus node
CONSENSUS_ENDPOINT=http://beacon-node:5052

# JSON-RPC API endpoint of the execution node
EXECUTION_ENDPOINT=http://excution-node:8545

# SSV API endpoint
SSV_API_ENDPOINT=https://api.ssv.network/api/v4

# Beaconcha.in API
BEACONCHA_ENDPOINT=https://beaconcha.in
BEACONCHA_API_KEY=
BEACONCHA_REQUESTS_PER_MINUTE=20 # Adjust according to your API plan

# KeepCache preserves the .cache directory under data/{network} when used with --fresh or --fresh-ssv.
KEEP_CACHE=false
